<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="utf-8"/>
<title>Gestion de materiel roulant</title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
crossorigin="anonymous">

</head>
<body>
<header class ="table table-striped table-responsive-md">
	<div>
		<table  class="table table-striped">
			<ul>
				<a th:href="@{/vehicules}" class="btn btn-primary btn-sm mb-3">Vehicules</a>
				<a th:href="@{/directions}" class="btn btn-primary btn-sm mb-3">Directions</a>
				<a th:href="@{/services}" class="btn btn-primary btn-sm mb-3">Services</a>
				<a th:href="@{/formVehicules}" class="btn btn-primary btn-sm mb-3">Ajout Vehicule</a>
			</ul>
		</table>
	</div>
	</header>
		
		
		
		<section class =" container table table-striped table-responsive-md ">
			<div>
				<div class="panel panel-default">
					<h3>Liste des directions</h3>
						<div class="panel-body">
							<div class="container">
								<form th:action="@{/directions}" method="get" id="myform">
									<label>Vehicules:</label>
									<select name="codeDirection" onchange="document.getElementById('myform').submit()">
										<option th:each="v:${vehicules}" 
										th:text="${v.nomVehicule}" th:value="${v.numMatricule}"></option>
									</select>
									<button type="submit" class="btn-primary">Chercher</button>
								</form>
							</div>
							<table class="table table-striped">
								<tr>
									<th>Code Direction</th><th>NomDirection</th><th>TypeDirection</th>
								</tr>
								<tr th:each="d:${directions}">
									<td th:text="${d.CodeDirection}"></td>
									<td th:text="${d.nomDirection}"></td>
									<td th:text="${d.class.simpleName}"></td>
									
									<td>
										<a th:href="@{/directions(numMatricule=${v.numMatricule})}">Direction</a>
									</td>
									<td>
										<a th:href="@{/services(numMatricule=${v.numMatricule})}">Service</a>
									</td>	
								</tr>
							</table>
						</div>
				</div>
				
			</div>
		</section>
		
		
		
		
		
		<footer border="1" class ="table table-striped table-responsive-md">
		<div class="navbar-fixed-bottom">
			<small>@Ministere de la sante publique</small>
		</div>
	</footer>
</body>
</html>